@model IEnumerable<JPSEMWebApp.Models.ServiceNotice>

@{
    ViewData["Title"] = "Index";
}

<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-services py-5">
        <div class="container py-lg-4 py-md-3">
            <h2 class="title">Service Messages</h2>
            <ul class="breadcrumbs-custom-path">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Service Messages</li>
            </ul>
        </div>
    </div>
</section>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServiceNoticeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServiceNoticeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServiceNoticeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
